/** 
*Buttons Styles 
*/
.btn {
	font-family: $font-Oswald;
	font-size: $font-size;
	padding: 0.5em ($mobile-line-height/2) + em;
	line-height: 1em;
	margin-bottom: ($mobile-line-height/2) + em;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	text-align: center;
	border: 2px solid $primary-color;
}
.btn-primary {
	background-color: $primary-color;
	color: $secondary-color;
}
.btn-primary:hover {
	background-color: $primary-color-hover;
}
.btn-primary:hover:active {
	background-color: $primary-color-active;
}
.btn-secondary {
	background-color: $secondary-color;
	color: $primary-color;
}
.btn-secondary:hover {
	background-color: $secondary-color-hover;
}
.btn-secondary:hover:active {
	background-color: $secondary-color-active;
}

// inputs
input {
	font-family: $font-Oswald;
	font-size: $font-size;
	padding: 0.5em ($mobile-line-height/2) + em;
	display: block;
	width: 100%;
}
input:focus {
	outline: none;
}









@media screen and (min-width: 40em) {}
@media screen and (min-width: 64em) {
	.btn {
		font-size: $font-size * 1.25;
		padding: 1em $desktop-line-height + em;
		line-height: 1em;
		margin-bottom: $desktop-line-height + em;
	}
}
.btn-sm {
	font-size: $font-size;
}
.btn-lg {	
	font-size: $font-size * $desktop-line-height;
}

