.footer {
    background-color: $blue;
    color: #fff;
}
.footer__container {
    @extend .container;
}
.footer__row {
    @extend .row;
}
.footer__case {
    @extend .lg_12;
}
.footer__copyright {
    margin-bottom: $font-size * 1.25;
}
.footer__nav {

}
.footer_nav__ul {
    margin: $font-size * 1.25 0;
    padding: 0;
}
.footer_nav__li {
    padding: $font-size * 0.75 0;
}
.footer_nav__a {
    color: #fff;
}