/** 
*Modal Styles 
*/
.modal__background {
	background: rgb(0,0,0);
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.25s;	
}
.modal__background.js-is_active {
	opacity: 0.8;
	z-index: 101;
}
.modal {
	position: fixed;
	background: #fff;
	top:0;
	right: 0;
	left: 0;
	margin: auto;
	box-shadow: 2px 4px 10px #000;
	transform: translate3d(0,-100%,0);
	max-height: 100%;
	overflow-y: scroll;
	transition: transform 0.25s;
}
.modal.js-is_active {
	transform: translate3d(0,0,0);
	z-index: 101;
	overflow-x: hidden;
}
.modal__body {
	padding: $common-padding;
}
.modal__header {
	@extend .row;
	padding: 0 $font-size;
}
.modal__header:after {
	@extend .row:after;
}
.modal__footer {
}
.modal__button {
	margin-bottom: 27px;
	transition: $common-transition;
	background-color: #26A65B;
	color: #fff;
}
.modal__button:hover {
	transition: $common-transition;
	background-color: rgba(38, 166, 91, 0.7);
	cursor: pointer;
}
.modal__button:focus {
	outline: none;
}
.modal__h2 {
	margin: 0 0 27px 0;
	font-weight: 300;
	font-size: 3em;
}
.modal__close {
	font-size: 1.5em;
	float: right;
	padding: $common-padding;
	transition: $common-transition;
	background-color: #fff;
}
.modal__close:hover {
	transition: $common-transition;
	background-color: #CF000F;
	color: #fff;
	cursor: pointer;
}
.modal_body {
	padding:0;
}
.modal {
	background-color: transparent;
	margin:auto;
	max-width: 35em;
}
.modal__body {
	padding:0;
}
.modal__close {
	font-size: 22px;
}
@media screen and (min-width: 64em){
	.modal.js-is_active {
		transform: translate3d(0,10%,0);
	}
}