// .is-active.header,
// .is-active.main,
// .is-active.footer {
// 	transform: translateX(200px);
// }
// .header,
// .main,
// .footer {
// 	transform: translate3d(0,0,0);
// 	transition: all 0.25s;
// }
.outer-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.body.is-active {
	overflow-x: hidden;
}

.inner-wrap {
	transition: all 0.5s;
}
.is-active.inner-wrap {
	transform: translate3d(70%, 0, 0);
}
.dimmer {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.is-active.dimmer {
	display: block;
}