/**
* Typography Styles
*/
//http://typecast.com/blog/a-more-modern-scale-for-web-typography check this out and reference it
html, body {
	font-size: $font-size;
	font-family: $font-OpenSans;
	color : $primary-color;
}
p {
	font-size: $font-size;
	line-height: $mobile-line-height + em;
	margin: 0 0 ($mobile-line-height * $font-size) 0;
	padding: 0;
	color: $blue;
	// max-width: 35em;
}
a {
	text-decoration: none;
	font-family: inherit;
	color: $primary-color;
	transition: all 0.25s;
	font-weight: 600;
}
a:hover {
	cursor:pointer;
	color: $primary-color-hover;	
}
a:focus {
	outline: none;
}

ul {
	// list-style: none;
}
.disc {
	list-style: disc;
}
pre[class*="language-"] {
	margin-bottom: $font-size * 1.25;
}

@for $i from 6 through 1 {
	$counter : 3 - $i * 0.25;
	h#{$i} {
		font-size: if(($font-size * $counter * 0.8561) < $font-size, $font-size, ($font-size * $counter * 0.8561) );
		line-height: $mobile-line-height;
		margin: 0 0 $font-size * $mobile-line-height;
		padding: 0; 
		font-family: $font-Oswald;
	}
}
@media screen and (min-width: 40em){
	@for $i from 6 through 1 {
		$counter : 3.5 - $i * 0.25;
		h#{$i} {
			font-size: if(($font-size * $counter * 0.8561) < $font-size, $font-size, ($font-size * $counter * 0.8561) );
			line-height: $mobile-line-height;
			margin: 0 0 $font-size * $mobile-line-height;
			padding: 0; 
			font-family: $font-Oswald;
		}
	}
}
@media screen and (min-width: 64em){
	@for $i from 6 through 1 {
		$counter : 4 - $i * 0.25;
		h#{$i} {
			font-size: if(($font-size * $counter * 0.8561) < $font-size, $font-size, ($font-size * $counter * 0.8561) );
			line-height: $mobile-line-height;
			margin: 0 0 $font-size * $mobile-line-height 0;
			padding: 0; 
			font-family: $font-Oswald;
		}
	}
}