/**
* Utitlity/Helper Class Styles
*/
.disc {
	list-style: disc;
}
.hide {
	display: none;
}
.show {
	display: initial;
}
.inline_center {
	text-align: center;
}
.block_center {
	margin-right: auto;
	margin-left: auto;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clear-fix {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 40em) {
	.hide_on_sm {
		display: none;
	}
	.show_on_sm {
		display: initial;
	}
	.text_center_sm {
		text-align: center;
	}
	.block_center_sm {
		margin-right: auto;
		margin-left: auto;
	}
	.float-center_sm {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}
@media screen and (min-width: 40em) and (max-width: 64em) {
	.hide_on_md {
		display: none;
	}
	.show_on_md {
		display: initial;
	}
	.inline_center_md {
		text-align: center;
	}
	.block_center_md {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.float-center_md {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}
@media screen and (min-width: 40em) {
	
}
@media screen and (min-width: 64em) {
	.hide_on_lg {
		display: none;
	}
	.show_on_lg {
		display: initial;
	}
	.inline_center_lg {
		text-align: center;
	}
	.block_center_lg {
		margin-right: auto;
		margin-left: auto;
	}
	.float-center_lg {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}

