<h1>Holler Back</h1>

<h2>Subtitle</h2> 

<p>Beard locavore banh mi, quinoa gluten-free farm-to-table seitan you probably haven't heard of them pour-over readymade hella small batch 3 wolf moon semiotics. Franzen hoodie kickstarter drinking vinegar banh mi. Vinyl retro semiotics, yr tousled beard echo park butcher bushwick pop-up. Bespoke fashion axe neutra cliche. Tilde chillwave cornhole photo booth squid. Pork belly microdosing chambray, yr selvage +1 lo-fi lomo bushwick single-origin coffee cronut letterpress. Retro etsy intelligentsia single-origin coffee, cred occupy bitters listicle cray DIY gentrify street art artisan dreamcatcher.</p>

<pre>
  <code class="language-css" ng-prism>
  /* applies style to all elements */
  * {
  box-sizing : border-box;
  }

  /* clear fix for floating grid */
  .clear-fix {
  content : "";
  display : table;
  clear : both;
  } 
  </code>
</pre>

<p>Beard locavore banh mi, quinoa gluten-free farm-to-table seitan you probably haven't heard of them pour-over readymade hella small batch 3 wolf moon semiotics. Franzen hoodie kickstarter drinking vinegar banh mi. Vinyl retro semiotics, yr tousled beard echo park butcher bushwick pop-up. Bespoke fashion axe neutra cliche. Tilde chillwave cornhole photo booth squid. Pork belly microdosing chambray, yr selvage +1 lo-fi lomo bushwick single-origin coffee cronut letterpress. Retro etsy intelligentsia single-origin coffee, cred occupy bitters listicle cray DIY gentrify street art artisan dreamcatcher.</p>

<pre>
  <code class="language-javascript" ng-prism>
  //reveal module pattern
  var reveal = (function(){

  var privateVar = 'private variable';

  var privateFunctionOne = function(){
  console.log('I am a private function');
  };

  var privateFunctionTwo = function(){
  console.log('I am yet another private function');
  };

  return {
  privateString : privateVar,
  privateOne : privateFunctionOne,
  privateTwo : privateFunctionTwo
  };

  })();

  //usage
  reveal.privateString; // output : 'private variable'
  reveal.privateOne(); // output : 'I am a private function'
  reveal.privateTwo(); // output : 'I am yet another private function'
  </code>
</pre>

<p>Beard locavore banh mi, quinoa gluten-free farm-to-table seitan you probably haven't heard of them pour-over readymade hella small batch 3 wolf moon semiotics. Franzen hoodie kickstarter drinking vinegar banh mi. Vinyl retro semiotics, yr tousled beard echo park butcher bushwick pop-up. Bespoke fashion axe neutra cliche. Tilde chillwave cornhole photo booth squid. Pork belly microdosing chambray, yr selvage +1 lo-fi lomo bushwick single-origin coffee cronut letterpress. Retro etsy intelligentsia single-origin coffee, cred occupy bitters listicle cray DIY gentrify street art artisan dreamcatcher.</p>

<p>Beard locavore banh mi, quinoa gluten-free farm-to-table seitan you probably haven't heard of them pour-over readymade hella small batch 3 wolf moon semiotics. Franzen hoodie kickstarter drinking vinegar banh mi. Vinyl retro semiotics, yr tousled beard echo park butcher bushwick pop-up. Bespoke fashion axe neutra cliche. Tilde chillwave cornhole photo booth squid. Pork belly microdosing chambray, yr selvage +1 lo-fi lomo bushwick single-origin coffee cronut letterpress. Retro etsy intelligentsia single-origin coffee, cred occupy bitters listicle cray DIY gentrify street art artisan dreamcatcher.</p>